@import url('https://fonts.googleapis.com/css?family=Gugi');
/* Hnngh */
:root{
  font-size: 16px;}

html, body{
  font-family: 'Gugi';
  height: auto;}
*:focus{outline: 0;}
*:visited{color: inherit;}
.pseudo-top{height: 8rem; visibility: hidden;}


.header-motto{
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  color: #fff;
  font-size: 2em;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: 1;
}
.header-motto-text{
  grid-column-start: 2;
  margin: auto;
}


.header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  z-index: 2;
}

.header-item {
  float: right;
  width: 4em;
  font-size: 1em;
  text-align: center;
  color: white;
  padding: 2.5em 1em;
  text-decoration: none;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.header-item:hover{
  background-color: rgba(0, 0, 0, 1);
}

#dropmenu{
  visibility: hidden;
}

#logo{
  width: auto;
  color: transparent;
  padding: 1em 1em;
  font-size: 2em;
  float: left;
  background-image: url(../images/eelsports02.png);
  background-size: cover;
  border-style: none;
}
