
body{
  background-color: rgb(130, 130, 130);
  background-image: url(../../images/spaceback.png);
  text-decoration: none !important;
}
.header-item{
    float: right;
    width: none;
    font-size: 1em;
    text-align: center;
    color: white;
    padding: 2.5em 1em;
    text-decoration: none;
    border-style: none;
    border-color: rgba(255, 255, 255, 0.2);
}
#logo{
  padding: none;
  width: 152.88px;
  height: 96px;
}
a:hover{
  text-decoration: none;
  color: white;
}
.container{
  padding-top: 5rem;
}
#chooseRegion{
  color: white;
  font-size: 250%;
}
.lPanel{
  width:100%;
  border-radius: 40px;
  box-shadow: 4px 4px 4px black;
  padding:5em 0;
  margin:1em;
}
.lPanel:hover{
  opacity: 0.8;
}
.lPanel div{
  font-family: 'Gugi';
  color: white;
  text-transform: uppercase;
  text-align: center;
  width:100%;
  height:35%;
  padding:1em 0em;
}
.lPanel:hover background{
  transform: scale(1.2);
}
.whiteDiv{
  background-color: white;
  border-radius: 40px;
}
#leagueContainer{
  background: url(../images/league.png) no-repeat;
  background-position: center;
  background-size: cover;
}
#worldContainer{
  background: rgba(79, 79, 79, 0.7);
}
#iliosContainer{
  background: url(../images/iliosmap.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
#europeContainer{
  background: rgba(56, 179, 232, 0.8);
}
#route66Container{
  background: url(../images/route66map.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
#americaContainer{
  background: rgba(245, 82, 47, 0.8);
}
#hanamuraContainer{
  background: url(../images/hanamuramap.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
#asiaContainer{
  background: rgba(245, 162, 192, 0.8);
}
