
body{
  background-color: rgb(130, 130, 130);
  background-image: url(../images/yellow-water-droplets-background.jpg);
}
#topPanel{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
}
#eelsportsLogo{

}
#watchEsportsDiv{
  padding-left: 100%;
}
#watchEsports{
  font-size: 50px;
}
#hamburgerContainerPadding{
  padding-left: 8em;
  padding-top: 1.5em;
}
#hamburgerContainer{

}
#hamburgerContainer:hover{
  cursor: pointer;
}
.hamburger{
  background-color: white;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 15px;
}
.lPanel{
  width:100%;
  border-radius: 40px;
  box-shadow: 4px 4px 4px black;
  padding:5em 0;
  margin:1em;
}
.lPanel:hover{
  opacity: 0.8;
}
.lPanel div{
  font-family: 'Gugi';
  color: white;
  text-transform: uppercase;
  text-align: center;
  width:100%;
  height:35%;
  padding:1em 0em;
}
.whiteDiv{
  background-color: white;
  border-radius: 40px;
}
#leagueContainer{
  background: url(../images/league.png) no-repeat;
  background-size: cover;
}
#worldContainer{
  background: rgba(79, 79, 79, 0.7);
}
#iliosContainer{
  background: url(../images/iliosmap.jpg) no-repeat;
  background-size: cover;
}
#europeContainer{
  background: rgba(56, 179, 232, 0.8);
}
#route66Container{
  background: url(../images/route66map.jpg) no-repeat;
  background-size: cover;
}
#americaContainer{
  background: rgba(245, 82, 47, 0.8);
}
#hanamuraContainer{
  background: url(../images/hanamuramap.jpg) no-repeat;
  background-size: cover;
}
#asiaContainer{
  background: rgba(245, 162, 192, 0.8);
}
